<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 향후 Mapper interface가 정의 될 위치 -->
<mapper namespace="com.multi.solo.member.model.mapper.MemberMapper">	
		
	<select id="selectMemberById" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER WHERE id = 'admin' AND status = 'Y';
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER(
			MNO, ID, PASSWORD, 	
			ROLE, NAME, PHONE,
			EMAIL, ADDRESS,HOBBY, 		
			STATUS, ENROLL_DATE, MODIFY_DATE,
			BIRTH, ORIFILENM, REFILENM 
		) VALUES (
			 0, #{id}, #{password},
			 default, #{name}, #{phone},
			 #{email}, #{address}, #{hobby},
			 DEFAULT, DEFAULT, DEFAULT,
			 #{birth}, DEFAULT, DEFAULT)
	</insert>
	
	 <update id="updateMember" parameterType="Member">
	 	UPDATE MEMBER
	 	SET
	 		NAME		= #{name}, 
	 		PHONE		= #{phone},
	 		EMAIL		= #{email},
	 		ADDRESS		= #{address},
	 		HOBBY		= #{hobby},
	 		MODIFY_DATE	= #{modifyDate}
	 	WHERE MNO = #{mNo}
	 </update>
	 
	 <update id="updatePwd" parameterType="map">
	 	UPDATE MEMBER 
	 		SET PASSWORD = #{password} 
 		WHERE MNO = #{mNo}
	 </update>
	 
	 <update id="deleteMember" parameterType="int">
	 	UPDATE MEMBER 
	 		SET STATUS = 'N' 
	 	WHERE MNO = #{mNo}
	 </update>
	
	
</mapper>